dash==2.14.1
dash_bootstrap_components==1.5.0
dash_core_components==2.0.0
dash_html_components==2.0.0
dash_table==5.0.0
Flask==3.0.0
matplotlib==3.7.1
numpy==1.24.3
pandas==1.5.3
plotly==5.18.0
python_dateutil==2.8.2
seaborn==0.13.0
streamlit==1.28.1
